@import "tailwindcss";

@layer base {
  body {
    background-color: #040405;
    color: #FCFCFA;
    font-family: 'Alexandria', 'Cairo', sans-serif;
  }
}

@media print {
  body {
    background-color: #FCFCFA !important;
    color: #040405 !important;
  }

  header, footer, button, .print\:hidden {
    display: none !important;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #040405;
}
::-webkit-scrollbar-thumb {
  background: #4A2F15;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F5BF1E;
}